* {
    /*change 1: all fonts are now 
    Helvetica Arial by default*/
    font-family: Arial, Helvetica, sans-serif
}

body {
    /*change 3: implement gradient in main 
    background*/
    background-image: linear-gradient(rgb(190, 65, 65),
     gray);
}

hr {
    /*need to figure out how to change the color
    here*/
}

h2 {
    color:rgb(78, 7, 7);
}


table, th, tr, td{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 0 auto;
}

table {
    /*change 4: gradient of a slightly
     different color in the table */
    background-image: linear-gradient(grey, 
    slategrey);
    /*change 5: implement minor drop shadow on table 
    */
    filter: drop-shadow(2px 2px black);
}

.image {
    /* change 2: all images in the table have their
     <td> element turned to a color similar to the
      background of the */
    background-color: rgb(14, 12, 34);
    /*TODO: find a way to add a drop shadow here 
    without making it look awful*/
}

p.credit {
    text-align: center;
}