body {
    background-color: gray;
}

h2 {
    color:rgb(78, 7, 7);
}

table {
    border-width: 2px;
    border-color: black;
    border-style: double;
    background-color: slategray;
    margin: 0 auto;
}