* {
    /*change 1: all fonts are now 
    Helvetica Arial by default*/
    font-family: Arial, Helvetica, sans-serif
}

body {
    /*change 3: implement gradient in main 
    background*/
    background-image: linear-gradient(white,
     gray);
}

hr {
    background-color: black;
}

h2 {
    color:rgb(78, 7, 7);
}

.image {
    /* change 2: all images in the table have their
     <td> element turned to a color similar to the
      background of the */
    background-color: rgb(14, 12, 34);;
}

table, th, tr, td{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: slategray;
    margin: 0 auto;
}

p.credit {
    text-align: center;
}